.Notifications {
  border: 2px dashed var(--holb-red);
  padding: 24px;
}

.Notifications ul {
  list-style-type: none;
}

.Notifications ul li {
  list-style-type: disc;
}

.Notifications ul li[data-notification-type='default'] {
  color: blue;
}

.Notifications ul li[data-notification-type='urgent'] {
  color: red;
}